. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  background-color: rgb(39, 41, 68);
  font-family: sans-serif;
}
.score {
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.score h2 {
  font-size: 30px;
}
.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.intro {
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.5s ease;
}
.intro h1 {
  color: white;
  font-size: 40px;
}
.intro button {
  height: 40px;
  width: 120px;
  font-size: 25px;
  background-color: aquamarine;
  border-radius: 3px;
  cursor: pointer;
}
.match {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease 0.5s;
}
.winner {
  color: white;
  font-size: 30px;
}

.options button {
  height: 40px;
  width: 120px;
  font-size: 25px;
  background-color: aquamarine;
  border-radius: 3px;
  cursor: pointer;
}
.player-hand {
  transform: rotateY(180deg);
}
.fade-out {
  opacity: 0;
  pointer-events: none;
}
.fade-in {
  opacity: 1;
  pointer-events: all;
}
